.bg-height {
    background-size:     cover;                
    background-repeat:   no-repeat;
    background-position: top center;   
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .bg-height {
        background-size: contain;
        background-repeat:   repeat;
        height: auto;
    }
}