.dashboard-bg {
    background: rgba(240, 241, 247, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(100px);
    border-radius: 14px;
    padding: 40px;
}